script(src="static/js/libs/jQuery/jquery-3.1.1.min.js")
script(src="static/js/libs/jQueryUI/jquery-ui.min.js")
script(src="static/js/libs/jQueryBlockUI/jquery.blockUI.js")

script(src="static/js/edmixxer.js")

script(src="static/js/workers/processAudioWorker.js")
script(src="static/js/workers/generateBeatsWorker.js")

link(href="static/js/libs/jqueryUI/jquery-ui.min.css" rel="stylesheet")
link(href="static/js/libs/jqueryUI/jquery-ui.structure.min.css" rel="stylesheet")
link(href="static/js/libs/jqueryUI/jquery-ui.theme.min.css" rel="stylesheet")

link(href="static/style/main.css" rel="stylesheet")