playlist.playlist.open
            ol.list
            .slide-button
                span.close 
                span.open 
            .drop-box Drop Song Here
                input#song-uploader(multiple type="file" accept="audio/*" name="newTrack")