.song.song--current 
    .select.select--bpm 
        select#current-song-bpm 
            option 160 - Original
            option 135 - Next Track
            
        label(for="current-song-bpm") BPM (speed)
        select#current-song-bars 
            option 1 Bar
            option 2 Bars
            option 4 Bars
            option 8 Bars
        
        label(for="current-song-bpm") Highlight Bars
        
    .spinner 
        .vinyl.rotating(style="background-image: url('img/vinyl.png')") 
        
    .progress.progress--current 
        .bar 
            .overlay(style="width:66%")
                .time.time--current 0:00:00 
                
            .time.time--end 0:00:00 
            
    .beat-timer 
        .beat.beat-1 1 
        .beat.beat-2 2 
        .beat.beat-3 3 
        .beat.beat-4 4 
        .synch good