@font-face {
    font-family: symbol;
    src: url('../fonts/seguisym.ttf');
}

body {
    padding: 0;
    margin: 0;
    overflow: hidden;
    font-family: symbol;
}

.hidden {
    display: none;
    visibility: hidden;
}

* {
    box-sizing: border-box;
}

@import 'partials/header';
@import 'partials/main-board';
@import 'partials/player-controls';
@import 'partials/playlist';
@import 'partials/footer';