<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document

        include partials/_head

    body
        
        include partials/_header

        main 

            include partials/_main-board
            
            include partials/_playlist

        include partials/_footer