header {
    padding: 5px;
    background: #999;
    border-bottom: 2px solid #666;
    box-shadow: 0 0 10px black;
    position: relative;
    z-index: 100;
    height: 96px;
    #logo {
        position: absolute;
        top: 4px;
        left: 4px;
        font-size: 24px;
        .edm {
            font-weight: bold;
        }
    }
}