#main-board {
    .songs {
        .song {
            margin: 10px;
            border: 2px solid black;
            width: 100%;
            height: 200px;
            position: relative;
            &.song--current {
                background: rgba(0, 125, 255, 0.3);
                border-color: #09F;
            }
            .select--bpm {
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                width: 200px;
            }
            .spinner {
                position: absolute;
                top: 0;
                left: 200px;
                bottom: 0;
                .vinyl {
                    height: 185px;
                    width: 185px;
                    left: 5px;
                    top: 5px;
                    position: relative;
                    background-image: url('../images/vinyl.png');
                    background-size: contain;
                }
            }
            .progress {
                position: absolute;
                top: 0;
                left: 400px;
                bottom: 0;
                right: 300px;
                width: calc(100% - 700px);
                height: 100%;
                .bar {
                    position: absolute;
                    width: calc(100% - 50px);
                    height: calc(100% - 20px);
                    margin: 10px;
                    border: 1px solid gray;
                    .frequency-map {
                        position: absolute;
                        width: 100%;
                        height: 100%;
                    }
                    .overlay {
                        position: absolute;
                        width: 0%;
                        height: 100%;
                        border: 1px solid #09F;
                        background-color: rgba(0, 125, 255, 0.3);
                        .time--current {
                            position: absolute;
                            right: -15px;
                            top: 75px;
                            transform: rotate(-90deg);
                        }
                    }
                    .time--end {
                        position: absolute;
                        right: -35px;
                        top: 75px;
                        transform: rotate(-90deg);
                    }
                }
            }
            .beat-timer {
                position: absolute;
                top: 0;
                bottom: 0;
                right: 0;
                width: 300px;
                height: 100%;
                padding-top: 5px;
                .beat {
                    width: 40px;
                    height: 40px;
                    margin: 5px;
                    float: left;
                    border: 1px solid #666;
                    &.beat-1 {
                        width: 60px;
                        height: 60px
                    }
                }
                .synch {
                    width: 150px;
                    height: 25px;
                    border-radius: 5px;
                    background-color: #333;
                    border: 1px solid black;
                    position: absolute;
                    bottom: 10px;
                    right: 145px;
                    &.good {
                        background-color: green;
                    }
                    &.poor {
                        background-color: orange;
                    }
                    &.bad {
                        background-color: red;
                    }
                }
            }
        }
    }
}

.select {
    &.select--bpm {
        background: #333;
        color: white;
    }
}

@keyframes rotating {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.rotating {
    animation: rotating 10s linear infinite;
}