#player-controls {
    margin: 10px 0;
    .buttons {
        width: 325px;
        position: absolute;
        right: 0px;
        top: 15px;
        text-align: center;
        .button {
            display: inline-block;
            font-size: 28px;
            border-radius: 50%;
            border: 3px solid black;
            width: 40px;
            height: 40px;
            line-height: 40px;
            margin: 5px;
            top: -5px;
            position: relative;
        }
        .button.play-pause {
            font-size: 42px;
            width: 60px;
            height: 60px;
            line-height: 60px;
            top: 0;
        }
    }
    .progress {
        margin: 48px 0 0 25px;
        width: calc(100vw - 375px);
        .bar {
            height: 15px;
            width: 100%;
            .ui-slider-handle {
                height: 20px;
                width: 10px;
                top: -8px;
            }
        }
    }
}