.playlist {
    position: absolute;
    top: 96px;
    width: 400px;
    height: calc(100vh - 96px);
    background: #666;
    right: -380px;
    border-left: 2px solid black;
    box-shadow: 0 0 10px black;
    z-index: 80;
    transition: right 0.5s ease-in-out;
    &.open {
        right: 0px;
        .slide-button {
            .open {
                display: none;
            }
            .close {
                display: inline-block;
            }
        }
    }
    .slide-button {
        width: 20px;
        height: 50px;
        border-radius: 0 5px 5px 0;
        border: 1px black solid;
        line-height: 50px;
        position: relative;
        top: calc((100vh - 96px) / 2 - 25px);
        box-shadow: inset 0 0 5px black;
        left: -1px;
        background: #999;
        .open {
            display: inline-block;
        }
        .close {
            display: none;
        }
    }
    .list {
        padding: 0;
        margin: 0;
        list-style: none;
        position: absolute;
        top: 0px;
        left: 30px;
        right: 0px;
        bottom: 100px;
        overflow-y: scroll;
        overflow-x: hidden;
        .item {
            position: relative;
            width: 100%;
            height: 100px;
            border: 1px solid black;
            margin: 10px 0 0 0;
            .image {
                background-image: url('../images/a.png');
                width: 90px;
                height: 90px;
                background-size: contain;
                margin: 5px;
            }
            .title {
                left: 100px;
                position: absolute;
                top: 5px;
            }
            .artist {
                position: absolute;
                left: 100px;
                top: 30px;
            }
            .other {
                position: absolute;
                bottom: 5px;
                left: 100px;
                .bpm {
                    display: inline-block;
                    width: 80px;
                }
                .duration {
                    display: inline-block;
                    width: 120px;
                }
            }
        }
    }
    .drop-box {
        height: 100px;
        position: absolute;
        bottom: 0;
        width: 100%;
        line-height: 100px;
        text-align: center;
        border-top: 2px solid black;
    }
}